body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calcBody {
    border: 5px solid black;
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    background-color: silver;
}

.calcRow {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size:xx-large;
}

#butt0 {
    width: 180px;
    border-radius: 40%;
}

#row5 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

#row5-2 {
    display: flex;
    width: 225px;
    justify-content: space-around;
}

#display {
    border: 2px solid black;
    height: 75px;
    min-width: 420px;
    background-color: white;
}

#buttDIV, #buttMULTIP, #buttMINUS, #buttPLUS {
    background-color: rgb(82, 149, 160);
}

#buttEQUAL {
    border-color: rgb(82, 149, 160);
}

#buttDEL {
    background-color: rgb(191, 68, 93);
}